* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #000;
    color: white;
}

/* HEADER */
header {
    width: 100%;
    background: #2b1580;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo .text1 {
    color: #00e6b8;
}

.logo .text2 {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
}

nav a:hover {
    opacity: 0.7;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: #000;
}

.hero h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    opacity: 0.7;
}

/* PRODUK */
.produk-section {
    padding: 40px 20px;
    text-align: center;
}

.produk-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.produk-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: #121212;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.harga {
    color: #00e6b8;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #00e6b8;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* RESPONSIVE TABLET */
@media (max-width: 900px) {
    .produk-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* RESPONSIVE HP */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    .produk-container {
        grid-template-columns: 1fr;
    }
}